.header {
   margin: 0%;
   padding: 0%;
   height: 100%;
   width: 100%;
}


.header1 {
   margin: 0%;
   padding: 0%;
   width: 100%;
   height: 54px;
   background-color: black;

}

.body {
   margin: 0%;
   padding: 0%;
   background-color: black;
   height: 100%;
   width: 100%;
}

#container {
   margin: 0%;
   padding: 0%;
   position: absolute;
   width: 84%;
   height: 90px;
   margin-left: 146px;
   margin-top: 30px;
   background-position: center;
}

.drop {

   color: white;
}

.drop1 {

   color: white;
   font-family: serif;
   background: no-repeat;
   border: none;
}

nav ul {
   padding: 15px;
   margin: -21px;
   float: right;
   margin-right: 185px;
}

nav ul li {
   position: relative;
   list-style: none;
   display: inline-block;
}

nav ul li a {
   display: block;
   padding: 18px 21px;
   color: black;
   text-decoration: none;
   line-height: 33px;
   font-size: 18px;
}

nav ul ul {
   position: absolute;
   top: 60px;
   display: none;
}

nav ul li:hover>ul {
   display: block;

}

nav ul ul li {
   width: 150px;
   float: none;
   display: list-item;
   background: white;
   position: relative;
   display: block;
   color: black;
}

.dropdown {
   margin-top: -53px;
   margin-left: 259px;
   width: 1024px;
}


#body {
   width: 100%;
   height: 1011px;
   background: white;
   position: absolute;
   margin-top: 14px;
}


.mainimage {
   width: 100%;
   height: 681px;
}

body {
   margin: 0%;
}

.leftportion {
   width: 50%;
   height: 803px;
   background: white;
   margin-top: -18px;
}

.text {
   background: white;
   width: 40%;
   height: 52%;
   margin: auto;
   padding: 37px;
   margin-left: 78px;
   position: absolute;
   margin-top: 90px;
}


.rightportion {
   width: 50%;
   height: 803px;
   background: white;
   margin-top: -803px;
   margin-left: 760px;
}

.mainline {
   margin-left: 254px
}

.logo {
   margin-left: -274px;
}

.text1 {
   color: #2095AE;
   font-size: 13px;
   font-family: 'Barlow', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: -38px;
   ;
   letter-spacing: 5px;
}

.text2 {
   font-size: 45px;
   line-height: 1.2em;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: #0f2454;
   position: relative;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.text3 {
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.75em;
   color: #676977;
   margin-bottom: 20px;
}

.text4 {
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.75em;
   color: #676977;
   margin-bottom: 20px;
}

.text5 {
   font-size: 16px;
   margin: 0;
   margin-left: 61px;
   color: #676977;
   margin-top: -32px;
}

.text6 {
   font-size: 16px;
   margin: 0;
   color: #676977;
   margin-left: 61px;
   margin-top: -33px;
}

.text8 {
   font-size: 24px;
   margin-left: 93px;
   margin-top: 4px;
   color: #2095AE;
   font-family: 'Barlow', sans-serif;
}

.text7 {
   font-size: 16px;
   margin: 0;
   color: #676977;
   margin-left: 99px;
   margin-top: -62px;
}

.tick {
   width: 41px;
   height: 38px;
}

.tick1 {
   width: 41px;
   height: 38px;
   margin-top: 18px;
}

.call {
   width: 68px;
   height: 61px;
   margin-top: 33px;
   margin-left: 16px;
}

.write {
   background: white;
   width: 40%;
   height: 55%;
   margin: auto;
   padding: 37px;
   margin-left: 0px;
   position: absolute;
   margin-top: 85px;
}

.bodyimage {
   width: 60%;
   height: 85%;
   margin-left: 133px;
   margin-top: 69px;
   position: absolute;
}

.backimg {
   width: 429px;
   height: 543px;
   margin-top: 111px;
   position: absolute;
   margin-left: 163px;
   opacity: 72%;
}

.texttab {
   position: relative;
   background: none;
   width: 741px;
   height: 299px;
   margin-top: 111px;
   margin-left: 251px;
}

.h4 {
   font-family: 'Barlow', sans-serif;
   font-size: 13px;
   font-weight: 400;
   color: #fff;
   margin-bottom: 15px;
   -webkit-animation-delay: .2s;
   animation-delay: .2s;
   text-transform: uppercase;
   letter-spacing: 6px;
   margin-left: 6px;
}

.h1 {
   position: relative;
   margin-bottom: 0;
   font-family: 'Poppins', sans-serif;
   font-size: 75px;
   text-transform: uppercase;
   -webkit-animation-delay: .4s;
   animation-delay: .4s;
   color: #fff;
   font-weight: 700;
   letter-spacing: 2px;
   margin-left: 4px;
   margin-top: 6px;
}

.fade {
   width: 1529px;
   height: 718px;
   opacity: 50%;
   position: absolute;
   margin-left: -410px;
   margin-top: -62px;
}

.innerbody {
   width: 100%;
   height: 705px;
   background: white;

}

.text11 {
   width: 50%;
   height: 86px;
   background: none;
   margin-top: 45px;
   margin-left: 100px;
}

.text111 {
   color: #2095AE;
   font-size: 13px;
   font-family: 'Barlow', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: -36px;
   letter-spacing: 5px;
   margin-left: 159px;
}

.text1111 {
   font-size: 45px;
   line-height: 1.2em;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: #0f2454;
   position: relative;
   text-transform: uppercase;
   margin-bottom: 20px;
   margin-left: 153px;
}

.hero {
   width: 1026px;
   height: 894px;
   position: absolute;
   background: none;
   margin-left: 158px;
}

.heroimage1 {
   width: 563px;
   height: 405px;
}

.heroblck {
   width: 563px;
   height: 405px;
   position: absolute;
   opacity: 60%;
   margin-left: -563px;
}

.herotext1 {
   position: relative;
   color: white;
   font-size: 37px;
   font-weight: 600;
   margin-top: -77px;
   margin-bottom: 10px;
   margin-left: 39px;
}

.heroimage2 {
   width: 405px;
   height: 405px;
   position: absolute;
   opacity: 60%;
   margin-left: 621px;
   margin-top: -384px;
}

.heroblck1 {
   width: 405px;
   height: 405px;
   position: absolute;
   opacity: 34%;
   margin-left: 621px;
   margin-top: -383px;
}

.herotext2 {
   position: relative;
   color: white;
   font-size: 37px;
   font-weight: 600;
   margin-top: -52px;
   margin-bottom: -38px;
   margin-left: 655px;
}

.heroimage3 {
   width: 377px;
   height: 328px;
   position: absolute;
   opacity: 83%;
   margin-left: 1px;
   margin-top: 93px;
}

.herotext3 {
   position: relative;
   color: white;
   font-size: 37px;
   font-weight: 600;
   margin-top: 359px;
   margin-bottom: -84px;
   margin-left: 37px;
}

.heroblck2 {
   width: 377px;
   height: 328px;
   position: absolute;
   opacity: 34%;
   margin-left: 1px;
   margin-top: 93px;

}

.heroimage4 {
   width: 377px;
   height: 328px;
   position: absolute;
   opacity: 83%;
   margin-left: 649px;
   margin-top: -224px;
}

.heroblck3 {
   width: 377px;
   height: 328px;
   position: absolute;
   opacity: 34%;
   margin-left: 649px;
   margin-top: -224px;
}

.herotext4 {
   position: relative;
   color: white;
   font-size: 37px;
   font-weight: 600;
   margin-top: 41px;
   margin-bottom: -84px;
   margin-left: 669px;
}

.destbody {
   background: NONE;
   width: 85%;
   height: 686px;
   margin-left: 7%;
   margin-top: 32%;
}

.dest1 {
   position: absolute;
   width: 25%;
   height: 62%;
}

.des2 {
   position: absolute;
   width: 25%;
   height: 62%;
   margin-left: 60%;
}

.des3 {
   position: absolute;
   width: 25%;
   height: 62%;
   margin-left: 31%;
}

.destdai {
   background: none;
   width: 85%;
   height: 16%;
   margin-left: 12%;
   margin-top: 22%;
   margin-bottom: -36%;
}

.dai1 {
   color: #2095AE;
   font-size: 13px;
   font-family: 'Barlow', sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: -37px;
   letter-spacing: 5px;
   margin-top: 15%;
}

.dai2 {
   font-size: 45px;
   line-height: 1.2em;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   color: #0f2454;
   position: relative;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.italy {
   position: absolute;
   color: white;
   font-size: 24px;
   font-weight: 600;
   margin-top: 2%;
   margin-bottom: 11px;
   margin-left: 63%;
}

.rome {
   position: absolute;
   color: white;
   font-size: 24px;
   font-weight: 600;
   margin-top: 2%;
   margin-bottom: 11px;
   margin-left: 2%;
}

.canada {
   position: absolute;
   color: white;
   font-size: 24px;
   font-weight: 600;
   margin-top: 2%;
   margin-bottom: 11px;
   margin-left: 34%;
}

.line1 {
   color: black;
   position: absolute;
   font-size: 191%;
   margin-left: 1%;
   margin-top: 3%;
}

.line2 {
   color: black;
   position: absolute;
   font-size: 191%;
   margin-left: 33%;
   margin-top: 3%;
}

.line3 {
   color: black;
   position: absolute;
   font-size: 191%;
   margin-left: 62%;
   margin-top: 3%;
}

.footer {
   background: #0f2454;
   position: absolute;
   width: 100%;
   height: 100%;
   margin-top: 180%;
}

.row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   background: none;
   width: 80%;
   margin-left: 11%;
   height: 38%;
   margin-top: 2%;
}

.col12 {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   max-width: 100%;
   background-color: none;
   position: absolute;
   width: 10;
   width: 86%;
   height: 60%;
   margin-top: 45px;
   margin-left: 7%;
}

.outerfooter {
   background: none;
   position: absolute;
   width: 33%;
   height: 100%;
}

.middlefooter {
   background: none;
   position: absolute;
   width: 33%;
   height: 100%;
   margin-left: 61%;
   margin-top: 0%;
}

.lastfooter {
   background: none;
   position: absolute;
   width: 111%;
   height: 100%;
   margin-left: 192%;
   margin-top: -4%;
}

.col13 {
   background: #2095AE;
   width: 25%;
   height: 60%;
   position: absolute;
   margin-left: 12%;
   margin-top: 7%;
   border-radius: 100%;
}

.callimg {
   position: absolute;
   width: 22%;
   height: 59%;
   margin-left: 45px;
   margin-top: 26px;
}

.calltext {
   color: #fff;
   margin-left: 41%;
   font-size: xx-large;
   margin-top: 24px;
}

.callno {
   margin-left: 41%;
   font-size: xx-large;
   margin-top: -11%;
   color: #2095AE;
}

.col14 {
   background: #2095AE;
   width: 25%;
   height: 60%;
   position: absolute;
   margin-left: 12%;
   margin-top: 4%;
   border-radius: 100%;
}

.msgtxt {
   color: #fff;
   margin-left: 41%;
   font-size: xx-large;
   margin-top: 24px;
}

.msgtxt1 {
   color: #fff;
   margin-left: 41%;
   font-size: 31px;
   margin-top: -35px;
   color: #2095AE;
}

.msgicon {
   opacity: 84%;
   margin-top: 32px;
   position: absolute;
   width: 69px;
   margin-left: 14%;
}

.row2 {
   height: 68%;
   width: 100%;
   background: none;
   position: absolute;
   margin-top: 14%;

}

.row21 {
   width: 189px;
   height: 135px;
   margin-left: 10%;
   margin-top: 5%;
}

.rowtxt {
   font-family: 'Barlow', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.75em;
   color: beige;
   margin-bottom: 20px;
   margin-left: 9%;
}

.icons {
   background: none;
   width: 100%;
   height: 0%;
   margin-top: 76px;
}

.blue {
   background: #2095AE;
   width: 4%;
   height: 4%;
   border-radius: 100%;
   margin-left: 4%;
   position: absolute;
}

.fa-brands {
   font-family: "Font Awesome 6 Brands";
   font-weight: 400;
   margin-top: 28%;
   margin-left: 27%;
}

.blue1 {
   background: #2095AE;
   width: 4%;
   height: 14%;
   border-radius: 100%;
   margin-left: 9%;
   margin-top: -68px;
   position: absolute;
}

.blue2 {
   background: #2095AE;
   width: 4%;
   height: 14%;
   border-radius: 100%;
   margin-left: 14%;
   margin-top: -68px;
   position: absolute;

}

.blue3 {
   background: #2095AE;
   width: 4%;
   height: 14%;
   border-radius: 100%;
   margin-left: 19%;
   margin-top: -68px;
   position: absolute;
}

.blue4 {
   background: #2095AE;
   width: 4%;
   height: 14%;
   border-radius: 100%;
   margin-left: 24%;
   margin-top: -68px;
   position: absolute;
}

.blue5 {
   background: #2095AE;
   width: 4%;
   height: 10%;
   border-radius: 100%;
   margin-left: 29%;
   margin-top: -68px;
   position: absolute;
}

.fa-solid,
.fas {
   font-family: "Font Awesome 6 Free";
   font-weight: 900;
   margin-left: 23%;
   margin-top: 30%;
}

.fa-regular,
.far {
   font-family: "Font Awesome 6 Free";
   font-weight: 400;
   margin-left: 14px;
   margin-top: 17px;
}

.fa-brands,
.fab {
   font-family: "Font Awesome 6 Brands";
   font-weight: 400;
   margin-left: 14px;
}

.dwnfoot {
   background: #0f2454;

}

.middlefoot {
   padding: 45px 0;
}

.img {
   position: absolute;
   margin-top: -9%;
   margin-left: -12%;
}

.blackimg {
   position: absolute;
}

.blok {
   width: 120%;
   height: 805%;
   position: absolute;
   opacity: 39%;
   margin-left: -32%;
   margin-top: -3%;
}




.col-md-4 {
   margin-left: 52%;
    margin-top: -2%;
}

.site-footer {
   background-color: black;
   padding: 45px 0 20px;
   font-size: 15px;
   line-height: 24px;
   color: #737373;
   margin-top: 176%;
}

.site-footer hr {
   border-top-color: #bbb;
   opacity: 0.5
}

.site-footer hr.small {
   margin: 20px 0
}

.site-footer h6 {
   color: #fff;
   font-size: 27px;
   text-transform: uppercase;
   margin-top: 7px;
   letter-spacing: 7px;
   margin-bottom: 2%;
}

.site-footer a {
   color: #737373;
}

.site-footer a:hover {
   color: #3366cc;
   text-decoration: none;
}

.footer-links {
   padding-left: 0;
   list-style: none
}

.footer-links li {
   display: block
}

.footer-links a {
   color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
   color: #3366cc;
   text-decoration: none;
}

.footer-links.inline li {
   display: inline-block
}

.site-footer .social-icons {
   text-align: right
}

.site-footer .social-icons a {
   width: 40px;
   height: 40px;
   line-height: 40px;
   margin-left: 6px;
   margin-right: 0;
   border-radius: 100%;
   background-color: #33353d
}

.copyright-text {
   margin: 0
}

@media (max-width:991px) {
   .site-footer [class^=col-] {
      margin-bottom: 30px
   }
}

@media (max-width:767px) {
   .site-footer {
      padding-bottom: 0
   }

   .site-footer .copyright-text,
   .site-footer .social-icons {
      text-align: center
   }
}

.social-icons {
   padding-left: 0;
   margin-bottom: 0;
   list-style: none
}

.social-icons li {
   display: inline-block;
   margin-bottom: 4px
}

.social-icons li.title {
   margin-right: 15px;
   text-transform: uppercase;
   color: #96a2b2;
   font-weight: 700;
   font-size: 13px
}

.social-icons a {
   background-color: #eceeef;
   color: #818a91;
   font-size: 16px;
   display: inline-block;
   line-height: 44px;
   width: 44px;
   height: 44px;
   text-align: center;
   margin-right: 8px;
   border-radius: 100%;
   -webkit-transition: all .2s linear;
   -o-transition: all .2s linear;
   transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
   color: #fff;
   background-color: #29aafe
}

.social-icons.size-sm a {
   line-height: 34px;
   height: 34px;
   width: 34px;
   font-size: 14px
}

.social-icons a.facebook:hover {
   background-color: #3b5998
}

.social-icons a.twitter:hover {
   background-color: #00aced
}

.social-icons a.linkedin:hover {
   background-color: #007bb6
}

.social-icons a.dribbble:hover {
   background-color: #ea4c89
}

@media (max-width:767px) {
   .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600
   }
}